## Challenge Set 9
## Topic: Poisson GLM Challenges
## Date: 05/16/16
## Name: David Kanarek
## Worked with: other student's name

In [9]:
import pandas as pd

from pandas.io.stata import StataReader
reader = StataReader('ships.dta')
df = reader.data()

df.head()

  type construction operation  months  damage
0    A      1960-64   1960-74     127       0
1    A      1960-64   1975-79      63       0
2    A      1965-70   1960-74    1095       3
3    A      1965-70   1975-79    1095       4
4    A      1970-74   1960-74    1512       6

In [10]:
import numpy as np

def get_mid_date(series):
    col = np.array(len(series))
    i = 0
    for datestring in np.array(series):
        beg,end = str(datestring).split('-')
        col[i]=(int(beg[2:4])+int(end))/float(2)
        i += 1
    return col

df['construction']=df['construction'].map(get_mid_date(df['construction']))

34

IndexError: too many indices for array